* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-left:  200px;
    margin-right: 200px;
    padding: 10px;
}

.heading-style {
    margin: 20px; ;
    padding: 18px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-style: solid;
    border-color: grey;
    border-radius: 15px;
}

.heading-style h1 {
    color: white;
}

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(1, 23, 54, 0.915);
    padding: 20px;
    text-align: center;
}
.score {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

.user-score, .computer-score {
    text-align: center;
    flex: 1;
    padding-left: 25px;
}

.user-score p, .computer-score p {
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.heading-style h1, .user-score h1, .computer-score h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

p{
    color: grey;
}

.choices {
    justify-items: center;
    margin-left: 250px;
    margin-top: 90px;
    width: 300px;
    height: 270px;
    background-image: url(./images/bg-triangle.svg);
    
}

.choices button {
    position: absolute;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

 .choices .rock {
    margin-left: -36px;
    margin-top: -40px;
    border-radius: 3600px;
    border-color: rgb(202, 13, 13);
    border-style: solid;
    border-width: 10px; 
 }

 .choices .paper {
    margin-left: 210px;
    margin-top: -45px;
    border-radius: 3600px;
    border-color: rgb(74, 60, 223);
    border-style: solid;
    border-width: 10px; 
 }

 .choices .scissors {
    margin-left: 94px;
    margin-top: 185px;
    border-radius: 3600px;
    border-color: rgb(232, 180, 7);
    border-style: solid;
    border-width: 10px; 
 }



.rules { 
    margin-top: 100px;
    margin-left: 800px;
    padding: 5px 19px;
    border-radius: 8px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}


.result {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}
